*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
body{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outerbox{
    width: 1000px;
    height: 500px;
}
.innerbox{
    width: 100%;
    border: 2px dotted black;
    padding: 15% 10%;
    padding-left: 25%;


}
h1{
    color: rgb(8, 160, 233);
}
.text-box{
    width: 70%;
    height: 160px;
    padding-top: 10px;
}
.count{
    font-size: 17px;
    font-weight: 500;
    margin-left: 40%;
}

.count span{
    color: red;
}
